{% extends 'base.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}
    <h1>Liste des films</h1>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Realisateur</th>
                <th>Annee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.releaseYear }}</td>
                <td>
                    <a href="{{ path('app_movie_show', {'id': movie.id}) }}">Voir</a>
                    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun film enregistre</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_movie_new') }}">Ajouter un film</a>
{% endblock %}