{% extends 'base.html.twig' %}

{% block title %}Detail du film{% endblock %}

{% block body %}
    <h1>{{ movie.title }}</h1>

    <ul>
        <li><strong>Realisateur :</strong> {{ movie.director }}</li>
        <li><strong>Annee de sortie :</strong> {{ movie.releaseYear }}</li>
        <li><strong>Synopsis :</strong> {{ movie.synopsis }}</li>
    </ul>

    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">Modifier</a>

    {{ include('movie/_delete_form.html.twig') }}

    <a href="{{ path('app_movie_index') }}">Retour a la liste</a>
{% endblock %}